* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_10 {
  width: 595px;
  height: 842px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_11 {
  width: 595px;
  height: 20px;
  background: rgba(215,179,119,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v4_2 {
  width: 149px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 44px;
  left: 24px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v4_15 {
  width: 176px;
  height: 70px;
  background: url("../images/v4_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 92px;
  left: 24px;
  overflow: hidden;
}
.v4_3 {
  width: 121px;
  color: rgba(43,65,98,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4_4 {
  width: 169px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4_5 {
  width: 176px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 52px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v4_21 {
  width: 102px;
  height: 48px;
  background: url("../images/v4_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 103px;
  left: 226px;
  overflow: hidden;
}
.v4_12 {
  width: 86px;
  color: rgba(184,182,199,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v4_18 {
  width: 102px;
  color: rgba(184,182,199,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v4_23 {
  width: 400px;
  height: 97px;
  background: rgba(143,117,79,1);
  opacity: 1;
  position: absolute;
  top: 211px;
  left: 24px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v4_27 {
  width: 58px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 227px;
  left: 40px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v4_30 {
  width: 86px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 252px;
  left: 40px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v5_3 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 252px;
  left: 233px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v5_4 {
  width: 98px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 276px;
  left: 233px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v4_31 {
  width: 138px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 276px;
  left: 40px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v5_5 {
  width: 547px;
  height: 40px;
  background: rgba(245,240,246,0.20000000298023224);
  opacity: 1;
  position: absolute;
  top: 348px;
  left: 24px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v4_28 {
  width: 427px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 360px;
  left: 24px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v5_6 {
  width: 120px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 360px;
  left: 225px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v5_8 {
  width: 547px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 24px;
  border: 1px solid rgba(245,240,246,0.4000000059604645);
  overflow: hidden;
}
.v5_9 {
  width: 120px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 404px;
  left: 451px;
  border: 1px solid rgba(245,240,246,0.4000000059604645);
  overflow: hidden;
}
.v5_26 {
  width: 119px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 416px;
  left: 43px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v5_27 {
  width: 82px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 416px;
  left: 207px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v5_29 {
  width: 51px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 464px;
  left: 284px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v5_32 {
  width: 120px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 452px;
  left: 225px;
  border: 1px solid rgba(245,240,246,0.4000000059604645);
  overflow: hidden;
}
.v5_33 {
  width: 54px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 512px;
  left: 287px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v5_34 {
  width: 120px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 500px;
  left: 225px;
  border: 1px solid rgba(245,240,246,0.4000000059604645);
  overflow: hidden;
}
.v5_35 {
  width: 132px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 560px;
  left: 311px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v5_36 {
  width: 120px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 548px;
  left: 225px;
  border: 1px solid rgba(245,240,246,0.4000000059604645);
  overflow: hidden;
}
.v5_42 {
  width: 82px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 633px;
  left: 301px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: right;
}
.v5_43 {
  width: 180px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 621px;
  left: 285px;
  border: 1px solid rgba(245,240,246,0.4000000059604645);
  overflow: hidden;
}
.v5_44 {
  width: 84px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 464px;
  left: 207px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v5_45 {
  width: 86px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 512px;
  left: 210px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v5_46 {
  width: 78px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 560px;
  left: 203px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v5_47 {
  width: 122px;
  color: rgba(123,120,141,1);
  position: absolute;
  top: 629px;
  left: 256px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v10_15 {
  width: 547px;
  height: 40px;
  background: url("../images/v10_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 682px;
  left: 24px;
  overflow: hidden;
}
.v6_50 {
  width: 547px;
  height: 40px;
  background: rgba(176,0,32,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v8_2 {
  width: 173px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 187px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
